body {
    background-color: #cac8c8;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.span{
    font-weight: 300;
}

.navbar-header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}
.form-control {
    border: 0;
    
}
.form-control:focus {
    border-color: #6C757D;
    border: 5px;
    box-shadow: none;
}


.bg {
    background-color: white;
}

.green {
    background: linear-gradient(to top, #51D1B5, #44b199);
}

.green-typs {
    background: #348876;
}

.green-animation {
    background: linear-gradient(210deg, #FFD700, #40a892, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.red {
    background: linear-gradient(to top, #d15158, #b14449);
}

.red-typs {
    background: #7e3030;
}

.red-animation {
    background: linear-gradient(210deg, #FFD700, #d15158, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.blue {
    background: linear-gradient(to top, #5351d1, #5444b1);
}

.blue-typs {
    background: #35307e;
}

.blue-animation {
    background: linear-gradient(210deg, #FFD700, #5351d1, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.white {
    background: linear-gradient(to top, #c7c7c7, #c2c1c4);
}

.white-typs {
    background: #cacaca;
    color: rgba(0, 0, 0, 0.7);
}

.white-animation {
    background: linear-gradient(210deg, #FFD700, #c7c7c7, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.brown {
    background: linear-gradient(to top, #cc8e3e, #b17f22);
}

.brown-typs {
    background: #dbb32e;
    color: rgba(0, 0, 0, 0.7);
}

.brown-animation {
    background: linear-gradient(210deg, #FFD700, #6b4412, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.yellow {
    background: linear-gradient(to top, #bec73e, #b3a92a);
}

.yellow-typs {
    background: #e8eb32;
    color: rgba(0, 0, 0, 0.7);
}

.yellow-animation {
    background: linear-gradient(210deg, #FFD700, #343612, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.purple {
    background: linear-gradient(to top, #a73ec7, #982ab3);
}

.purple-typs {
    background: #b732eb;
    color: rgba(0, 0, 0, 0.7);
}

.purple-animation {
    background: linear-gradient(210deg, #FFD700, #a73ec7, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.pink {
    background: linear-gradient(to top, #c73e99, #b32a9c);
}

.pink-typs {
    background: #eb32e2;
    color: rgba(0, 0, 0, 0.7);
}

.pink-animation {
    background: linear-gradient(210deg, #FFD700, #a73ec7, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.gray {
    background: linear-gradient(to top, #979396, #adacad);
}

.gray-typs {
    background: #dfdedf;
    color: rgba(0, 0, 0, 0.7);
}

.gray-animation {
    background: linear-gradient(210deg, #FFD700, #979396, #FFD700);
    background-size: 280% 180%;
    animation: gradient-animation 4s ease infinite;
}

.id-style {
    position: absolute;
    bottom: 0;
    color: rgba(0, 0, 0, 0.4);
}

.id-stype-card {
    color: rgba(0, 0, 0, 0.4);
}

.card-title {
    position: absolute;
    top: 25px;
}

.typ-small {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    top: 40px;
}

.typ-small-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 10px;
}

.pokeball-img {
    position: relative;
    background-image: url(./img/Pokeball-PNG-Free-Download.png);
    background-position: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    height: inherit
}

.pokeball-img:hover {
    background-size: cover;
    position: relative;
    background-position: 30px;
    transition: 0.5s;
    cursor: pointer;
    background-position: 20px center;
    background-repeat: no-repeat;

    .pokemon {
        height: 100px;
        transition: 0.5s;
        margin-right: 50px;
        margin-top: 30px;
    }
}

.pokemon {
    height: 140px;
    margin-top: 20px;
    padding-right: 10px;
    transition: 0.5s;
}

.pokemon img {
    height: 140px;
    width: 140px;
}

.dropdown-menu img {
    height: 20px;
}

.menu-flag {
    height: 22px;
    margin-right: 10px;
}

.loader-arrangement {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress {
    width: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f2f2f2;
}

.loader img {
    width: 150px;
    /* Ändere die Größe des Pokémon-Bildes nach Bedarf */
    height: 150px;
    animation: spin 2s linear infinite;
    margin-top: 20px;
    margin-bottom: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dn {
    display: none;
}

.progress-bar {
    background-color: #F8CE4D;
}

.fixed {
    width: 100%;
    position: fixed;
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

#scrollTopButton span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;
}

#scrollTopButton:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.card-bg-img {
    position: relative;
    width: 100%;
    object-fit: cover;
    top: 0px;
    z-index: 0;
    height: 170px;
}

.card-pokemon-img {
    position: absolute;
    left: 35%;
    right: 0;
    top: 90px;
    height: 160px;
}

.card-header-individually {
    margin-top: 10px;
    background-color: none;
    padding-left: 5px;
    padding-right: 5px;
}

.card-head-nav {
    padding: 1px;
}

.header-card-title {
    position: absolute;
    top: 80px;
    width: 100%;
    padding-left: 15px;
    padding-right: 0px;
}

.about-left {
    width: 40%;
    min-height: fit-content;
}

.about-right {
    width: 60%;
    min-height: fit-content;
}

.stats-box {
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.basic-data-left {
    width: 40%;
}

.basic-data-left p {
    white-space: nowrap;
    overflow: hidden;
    width: 85%;
    text-overflow: ellipsis;
}

.about-data-left {
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
}

.basic-data-center {
    width: 15%;
}

.basic-data-right {
    width: 45%;
}

.evolution-left {
    width: 30%;
}

.evolution-left{
    cursor: pointer;
}
.evolution-center {
    width: 40%;
}

.evolution-right {
    width: 30%;
}

.evolution-right:hover{
    cursor: pointer;
    
}

.evolution img {
    height: 80px;
}

.nav-card-color {
    color: rgba(0, 0, 0, 0.45);
}

.nav-card-color:hover {
    color: rgba(0, 0, 0, 1);
}

.card-hover:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px;
    border-radius: 50px;
}

.card-hover-like:hover {
    cursor: pointer;
}

.navbar-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.card-screen-small {
    margin-top: 70px;
    width: 20rem;

}
.card-screen{
    margin-top: 70px;
}

@media (min-width: 500px) {
    .serch-footer {
        display: none;
    }

}

@media (max-width: 500px) {
    body {
        overflow-x: hidden;
    }

    .card-screen-small {
        width: 100%;
        margin-top: 70px;
    }

    .card-pokemon-img {
        left: 35%;
        width: auto;
        right: 0;
        top: 90px;
        height: 160px;
    }

    .search-top {
        display: none;
    }

    .card-bg-img {
        position: relative;
        width: 100%;
        object-fit: contain;
        top: 0px;
        z-index: 0;
        height: 170px;
    }

    .card-screen {
        padding-bottom: 50px;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #6C757D #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6C757D;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

